body {
    background-color: #3a265c;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #d2d2bb;
    overflow-x: hidden;
    overflow-y: hidden;
}

h1 {
    color: #dbc955;
    text-align: center;
    font-weight: 200;
}

h2 {
    color: #dbc955;
    text-align: center;
    font-weight: 200;
}

a {
    color: #dbc955;
}

a:hover {
    color: #ffea62;
}

svg {
    color: black;
    animation-name: loading;
    animation-duration: 1s;
}

#textBox {
    position: absolute;
    width: 80%;
    left: 10%;
    height: 18vh;
    bottom: 2.5vh;
    border: 2px solid #3a265c;
}

#dataset-link {
    position: absolute;
    bottom: 10px;
    font-weight: 400;
}

#wrapper {
    filter: drop-shadow(0.25rem 0.25rem 0.5rem);
}

#plot-button {
    padding: 10px;
    text-align: center;
    border: 1px solid #ffea62;
    color: #ffea62;
    width: 100%;
    margin-top: 50px;
    background-color: rgba(0,0,0,0);
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

#plot-button:hover {
    cursor: pointer;
    color: #d2d2bb;
    border-color: #d2d2bb;
}

@keyframes loading { 
    from { 
        opacity:0; 
    } 
    to { 
        opacity:1; 
    } 
}

#mainChart {
    width: 60vw;
    height: 90vh;
    position: absolute;
    left: 30vw;
    top: 2.5vh;
    background-color: #d2d2bb;
    padding: 10px;
}

#filter {
    width: 20vw;
    height: 90vh;
    position: absolute;
    left: 10vw;
    top: 2.5vh;
    background-color: #4a3f9c;
    padding: 10px;
    z-index: 3;
}

#modal {
    display: none;
    width: 95vw;
    height: 95vh;
    position: absolute;
    left: 2.5vw;
    top: 2.5vh;
}

.nav {
    position: absolute;
    bottom: 10px;
    padding: 10px;
    text-align: center;
    border: 1px solid #4a3f9c;
    color: #4a3f9c;
    background-color: rgba(0,0,0,0);
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

.nav:hover {
    cursor: pointer;
    color: #4a3f9c55;
    border-color: #4a3f9c55;
}

.nav:first-child {
    left: 10px;
}

.nav:last-child {
    position: absolute;
    right: 10px;
}

#textBody {
    padding: 10px;
    position: absolute;
    top: 0;
    color: black;
}

#tooltip {
    background-color: #dbc95599;
    border: 2px solid #bba935;
    width: 180px;
    height: 60px;
    position: absolute;
    z-index: 1;
    color: black;
    padding: 5px;
    font-size: 14px;

}